<a href="https://colab.research.google.com/github/Haarinaath-Y/Youtube-Content-Categorization-Based-on-Age-Gate-for-Respective-Countries/blob/main/0%20Preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_age = pd.read_csv("Age.csv")
print(df_age.head())

   Age_id Country_name  Person_id  Age
0       1        India          1   23
1       2          USA          2   29
2       3      Germany          3   32
3       4        Nepal          4   22
4       5    Sri Lanka          5   43

In [ ]:
df_country = pd.read_csv("Country.csv")
print(df_country.head())

FileNotFoundError: ignored

In [ ]:
df_gender = pd.read_csv("Gender.csv")
print(df_gender.head())

   Gender_ID Gender_code  Person_ID Gender_dsc
0          1           F          1     Female
1          2           M          2       Male
2          3           M          3       Male
3          4          UK          4    Unknown
4          5          UK          5    Unknown

In [ ]:
df_ytcat = pd.read_csv("YTCat.csv")
print(df_ytcat.head())

   Discription_ID       Category_Name  \
0               1                News
1               2              Sports
2               3                Kids
3               4      Entertainment
4               5  Fashion and Beauty

                                       Category_Dsc
0  Information about current events This may be p...
1  Athletic activity requiring skill or physical ...
2  A form of activity that holds the attention an...
3  A form of activity that holds the attention an...
4  The style or styles of clothing and accessorie...

In [ ]:
df_ytcon = pd.read_csv("YTCon.csv")
df_ytcon['Likes'] = df_ytcon['Likes'].str.replace(',', '').astype(int)
df_ytcon['Dislikes'] = df_ytcon['Dislikes'].str.replace(',', '').astype(int)

In [ ]:
df_person = pd.read_csv("Person.csv")
# Change the date format of the DOB column in the Person table
df_person['DOB'] = pd.to_datetime(df_person['DOB'], infer_datetime_format=True)
df_person['DOB'] = df_person['DOB'].dt.strftime('%Y-%m-%d')

# Change the date format of the Publish_Date column in the YTCon table
df_ytcon['Publish_date'] = pd.to_datetime(df_ytcon['Publish_date'], infer_datetime_format=True)
df_ytcon['Publish_date'] = df_ytcon['Publish_date'].dt.strftime('%Y-%m-%d')

# Save the updated DataFrames to new CSV files
df_person.to_csv("Person_clean.csv", index=False)
df_ytcon.to_csv("YTCon_clean.csv", index=False)

In [ ]:
# Iterate over each row in the Person DataFrame
for i, row in df_person.iterrows():
    # Get the Person_ID and Initial_Name values for the current row
    person_id = row['Person_ID']
    initial_name = row['Initial_Name']

    # Find the corresponding row in the Gender DataFrame
    gender_row = df_gender[df_gender['Person_ID'] == person_id]

    # Update the Gender_code value based on the Initial_Name value
    if initial_name.startswith("Mrs") or initial_name.startswith("Ms.") or initial_name.startswith("Ms") or initial_name.startswith("Mrs."):
        df_gender.loc[gender_row.index, 'Gender_code'] = 'F'

    elif initial_name.startswith("Mr") or initial_name.startswith("Mr."):
        df_gender.loc[gender_row.index, 'Gender_code'] = 'M'
    else:
        df_gender.loc[gender_row.index, 'Gender_code'] = 'UK'

df_gender['Gender_dsc'] = np.where(df_gender['Gender_code'] == 'M', 'Male',
                                   np.where(df_gender['Gender_code'] == 'F', 'Female', 'Unknown'))

# Save the updated Gender DataFrame to a new CSV file
df_gender.to_csv("Gender_clean.csv", index=False)

In [ ]:
df_ytcon['Min_age'] = np.where(df_ytcon['Min_age'] < 13, 'U13',
                                     np.where((df_ytcon['Min_age'] >= 13) & (df_ytcon['Min_age'] < 18), 'U18',
                                     np.where((df_ytcon['Min_age'] >= 18) & (df_ytcon['Min_age'] < 21), 'U21',
                                              'T21')))
df_ytcon.to_csv("YTcon_clean.csv", index=False)

In [ ]:
#@title
df_gender

     Gender_ID Gender_code  Person_ID Gender_dsc
0            1           F          1     Female
1            2           M          2       Male
2            3           M          3       Male
3            4           F          4     Female
4            5           F          5     Female
..         ...         ...        ...        ...
205        206           M        206       Male
206        207           F        207     Female
207        208           M        208       Male
208        209           F        209     Female
209        210           F        210     Female

[210 rows x 4 columns]

In [ ]:
df_ytcon

,Video_id,Video_title,Video_Tags,Person_ID,Min_age,Publish_date,Category_id,Views,Likes,Dislikes
0,1,Deadpool 2,#deadpool #marvel #marvelcomics #mcu #actionmo...,39,U13,2018-03-22,7,8100000,11050,2500
1,2,Tom and Jerry show,#WBKids #KidsCartoons #TomandJerry #Kidshow #A...,35,U13,2000-11-20,1,300000000,1900900,50000
2,3,FIFA Wold Cup 2018 Highights,#worldcup #soccermatch #fifa #sports #highligh...,113,U18,2018-07-15,6,62150000,510000,17000
3,4,Diana's Monochromatic Look,#influncer #makeup #fashion #beauty,101,U21,2016-01-14,8,58000,1800,360
4,5,veg Pulao,#pulao #pulaorecipe #vlogger,137,U18,2022-12-22,4,77,11,2
...,...,...,...,...,...,...,...,...,...,...
145,146,Live in the now!,"cash|""Wayne's""|""World""|""wayne""|""waynes""|""fende...",18,U18,2008-03-12,2,2957802,37624,46770
146,147,Sigrid - Strangers (Lyric Video),"Sigrid|""Strangers""|""Island""|""Records""|""Pop""",18,U13,2008-03-13,2,4829913,79895,67800
147,148,MØ - When I Was Young (Official Video),"Chess Club/RCA Victor|""MØ""|""Pop""|""When I Was Y...",109,U13,2008-03-14,3,4699589,85231,97379
148,149,The Script - Arms Open (Acoustic) [Audio],"the script|""the script new single""|""the script...",99,U18,2008-03-15,6,5690803,98322,69728
149,150,Three meals that cost me $1.50 each,"brothers green eats|""budget cooking""|""cooking ...",188,U13,2008-03-16,10,1744785,97191,98094

In [ ]:
df_person

,Person_ID,DOB,Initial_Name,First_Name,Last_Name,Country_Name,Phone_number,Email,Account_name,Subscription
0,1,1999-03-21,Ms,Sakshi,Gupta,India,9876532945,sakshig@gmail,Sakshiii Gupta9900,Y
1,2,1993-04-11,Mr,Alan,Cooper,USA,240-219-0550,CooperAlan@hotmail,CooperA,N
2,3,1990-11-08,Mr,Yohani,De,Sri Lanka,8797321854,yoohani@yahoo.com,Telly Music,Y
3,4,2000-04-06,Mrs,Otto,Smith,Germany,7840096538,smithbakery@gmail.com,Smith's Bakery,N
4,5,1979-08-19,Mrs,Wang,Li,India,7781435789,wangli@gmail.com,Wang's Home ESL,Y
...,...,...,...,...,...,...,...,...,...,...
226,227,1875-02-25,Mr.,Fakaruddin,Reddy,India,9888089622,Ibinnani@pingle.com,zmincairasims,Y
227,228,1945-01-28,Ms.,Friederike,Schwarz,Germany,289388121,binder.marga@gmail.com,bookworm1591kextrorso,N
228,229,1997-08-25,Mr.,Virat,Chhabra,India,9734405239,ahuja.radhika@yahoo.com,tramay23ctminifuuuuuur,Y
229,230,1895-07-08,Ms.,Nirupama,Budha,Nepal,2150421682,trailokya34@devakota.com,todomilenio3kzazou266,N
230,231,1887-02-23,Mr.,Malik,Koshy,India,7854980528,ruchi.chakkrabati@yahoo.co.in,ro3tlnnaddu,Y